<div class="container">
  <div class="silly-message">
    <div class="quote">
      {{message}}
    </div>
  </div>
  <div class="credits">
     <a href="https://www.linkedin.com/in/uyethon" target="_blank"><img src="./assets/In.png"  alt="https://www.linkedin.com/in/uyethon"/></a>
     <a href="https://github.com/yethon/microcosm" target="_blank"><img src="./assets/GitHub-Mark-Light.png"  alt="https://github.com/yethon/microcosm"/></a>
  </div>
</div>
